<div class="content">
  <form [formGroup]="errorForm" (ngSubmit)="submit()" novalidate>
    <div class="spinner" *ngIf="showSpinner">
      <app-spinner></app-spinner>
    </div>

    <h1 attr.aria-label="{{ 'HOME.MENU.REPORT.NAME' | translate }}" data-no-aos="fade-down" data-no-aos-duration="800" data-no-aos-delay="800">{{ 'HOME.MENU.REPORT.NAME' | translate }}</h1>

    <div class="inputs" data-no-aos="fade-down" data-no-aos-duration="800" data-no-aos-delay="1200">
      <div class="row">
        <app-label
          text="{{ 'HOME.MENU.REPORT.SECTION' | translate }}"
        >
        </app-label>
        <app-select
        [options]="sections"
        (optionSelected)="onOptionSelectedChange($event)"
        >
        </app-select>
      </div>
      <div class="row">
        <app-label
          text="{{ 'HOME.MENU.REPORT.ERROR' | translate }}"
        >
        </app-label>
        <app-text-area
          name="error"
          type="text"
          formControlName="error"
          [placeHolderText]="'HOME.MENU.REPORT.PLACEHOLDER_ERROR' | translate"
          [ariaLabelContent]="'AUTH.ACCESIBILITY.EMAILINPUT' | translate"
          [ariaLabelledBy]="'required-message-error'"
          [rows]="'15'"
          [control]="errorForm.controls['error']"
          [submitted]="submitted"
          [error]="this.errorForm.get('error')!.hasError('required') || this.errorForm.get('error')!.hasError('error')"
        >
        </app-text-area>
        <p id="required-message-error" *ngIf="this.errorForm.get('error')!.hasError('required') && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
      </div>
    </div>

    <div class="centered" data-no-aos="fade-down" data-no-aos-duration="800" data-no-aos-delay="1600">
      <div class="row">
        <div class="button-comtainer">
          <app-button
            text="{{ 'HOME.MENU.REPORT.REPORTBTN' | translate }}"
            [ariaLabelContent]="'HOME.MENU.REPORT.ACCESIBILITY.REPORTBTN' | translate"
          >
          </app-button>
        </div>
      </div>
    </div>
  </form>
</div>
