<div class="content">
  <div class="left">
    <img src="../../../../assets/Images/login-img.svg" alt="" data-aos="fade-down" data-aos-duration="1000">
  </div>
  <div class="right">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
      <div class="spinner" *ngIf="showSpinner">
        <app-spinner></app-spinner>
      </div>
      <h1  attr.aria-label="{{ 'AUTH.LOGIN' | translate }}" data-aos="fade-down" data-aos-duration="800" data-aos-delay="800"><a class="title" href="#">{{ 'AUTH.LOGIN' | translate }}</a></h1>

      <div class="inputs" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1200">
        <app-label
          text="{{ 'AUTH.EMAIL' | translate }}"
        >
        </app-label>
        <app-input
          name="email"
          placeholder="name@email.com"
          [ariaLabelContent]="'AUTH.ACCESIBILITY.EMAILINPUT' | translate"
          type="email"
          formControlName="email"
          [control]="loginForm.controls['email']"
          [submitted]="submitted"
          [error]="this.loginForm.get('email')!.hasError('required') || this.loginForm.get('email')!.hasError('email')"
        >
        </app-input>
        <p *ngIf="this.loginForm.get('email')!.hasError('required') && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
        <p *ngIf="this.loginForm.get('email')!.hasError('email') && submitted" class="error-field">{{'INPUT_ERRORS.INVALID_EMAIL' | translate}}</p>
        <app-label
        text="{{ 'AUTH.PASSWORD' | translate }}"
        >
        </app-label>
        <app-input
          name="password"
          placeholder="**********"
          type="password"
          formControlName="password"
          [ariaLabelContent]="'AUTH.ACCESIBILITY.PASSWORDINPUT' | translate"
          [control]="loginForm.controls['password']"
          [submitted]="submitted"
          [error]="this.loginForm.get('password')!.hasError('required')"
        >
        </app-input>
        <p *ngIf="this.loginForm.get('password')!.hasError('required') && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
      </div>

      <div class="centered" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1600">
        <div class="row">
          <div class="button-comtainer">
            <app-button
              text="{{ 'AUTH.LOGINBTN' | translate }}"
              [ariaLabelContent]="'AUTH.ACCESIBILITY.LOGINBTN' | translate"
            >
            </app-button>
          </div>
          <p class="redirect">{{'AUTH.REDIRECT_LOGIN' | translate }}<a routerLink="/signup" href="#">{{ 'AUTH.HERE' | translate }}</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
