<div class="content">
  <div class="left">
    <img src="../../../../assets/Images/login-img.svg" alt="" data-aos="fade-down" data-aos-duration="1000">
  </div>
  <div class="right">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
      <div class="spinner" *ngIf="showSpinner">
        <app-spinner></app-spinner>
      </div>
      <h1 data-aos="fade-down" data-aos-duration="800" data-aos-delay="800">{{ 'AUTH.LOGIN' | translate }}</h1>

      <div class="inputs" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1200">
        <app-label
          text="{{ 'AUTH.EMAIL' | translate }}"
        >
        </app-label>
        <app-input
          name="email"
          placeholder="name@email.com"
          [ariaLabelContent]="'AUTH.ACCESIBILITY.EMAILINPUT' | translate"
          [tabIndexNumber]="1"
          type="email"
          formControlName="email"
          [control]="loginForm.controls['email']"
          [submitted]="submitted"
          [error]="this.loginForm.get('email')!.hasError('required') || this.loginForm.get('email')!.hasError('email')"
        >
        </app-input>
        <p *ngIf="this.loginForm.get('email')!.hasError('required') && submitted" class="error-field">Required</p>
        <p *ngIf="this.loginForm.get('email')!.hasError('email') && submitted" class="error-field">Invalid Format</p>
        <app-label
        text="{{ 'AUTH.PASSWORD' | translate }}"
        >
        </app-label>
        <app-input
          name="password"
          placeholder="**********"
          [tabIndexNumber]="2"
          type="password"
          formControlName="password"
          [ariaLabelContent]="'AUTH.ACCESIBILITY.PASSWORDINPUT' | translate"
          [control]="loginForm.controls['password']"
          [submitted]="submitted"
          [error]="this.loginForm.get('password')!.hasError('required')"
        >
        </app-input>
        <p *ngIf="this.loginForm.get('password')!.hasError('required') && submitted" class="error-field">Required</p>
      </div>

      <div class="centered" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1600">
        <div class="row">
          <div class="button-comtainer">
            <app-button
              text="{{ 'AUTH.LOGINBTN' | translate }}"
              [ariaLabelContent]="'AUTH.ACCESIBILITY.LOGINBTN' | translate"
              [tabIndexNumber]="3"
            >
            </app-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
