@import "../../../../common-variables.less";

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  background-color: @secondary-color;
  box-sizing: border-box;
}

.split-row{
  display: flex;
  justify-content: space-between;
}

.row{
  width: 48%;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  .row {
    width: 100%;

    .button-comtainer{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 5px;
    }
  }
}

h1, p{
  margin: 0;
  padding: 0;
  color: @text-color;
  margin-bottom: 20px;
}

.title{
  text-decoration: none;
  color: @text-color;
}

.title:focus{
  outline: none;
  border-bottom: 2px solid @primary-color;
}

a{
  text-decoration: none;
  color: @tertiary-color;
  cursor: pointer;
  font-weight: bold;
}

a:focus{
  outline: none;
  border-bottom: 2px solid @primary-color;
}

a:hover {
  color: fade(@tertiary-color, 80%);
}

.redirect{
  margin-top: 10px;
  font-size: @text-sm;
}

.sweet-alert-title{
  border: 1px solid red;
  font-family: 'Heebo', sans-serif;
}

form{
  position: relative;
  width: 80%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  .form-section{
    display: flex;
    gap: 20px;
    .left-form{
      width: 70%;
    }
    .right-form{
      width: 30%;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 200px;
        border: 2px solid @light-grey;
        border-bottom: none;
        border-radius: 20px 20px 0 0;
        background-color: @tertiary-color;
      }
      .button-row{
        display: flex;
        button{
          font-family: @text-font;
          width: 100px;
          height: 30px;
          /* border: none; */
          border: 2px solid @light-grey;
          cursor: pointer;
        }
        .left-button{
          color: @white-color;
          border-right: none;
          border-radius: 0 0 0 20px;
          background-color: @primary-color;
        }
        .right-button{
          /* border-left: none; */
          border-radius: 0 0 20px 0;
          background-color: @white-color;
        }
      }
    }
  }
}

.spinner{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @secondary-color;
  position: absolute;
}

.error-field{
  margin: 0;
  margin-top: 5px;
  color: red;
  font-size: @text-xs;
}
