@import "../../../../common-variables.less";

button{
  width: 80px;
  max-width: 85%;

  font-family: 'Noto Sans', sans-serif;
  background-color: @primary-color;
  transition: all @transition-duration ease-out;
  font-size: @text-sm;
  color: white;
  padding: 5px 0;
  cursor: pointer;
  border: 3px solid @primary-color;
  font-weight: bold;

  &:focus{
    outline: none;
    transform: scale(1.05);
  }

  &:hover{
    transform: scale(1.05);
  }

  &:active{
    opacity: 0.8;
  }
}

.left-button{
  border-radius: 7px 0px  0px 7px;
  margin-right: -2px;
}

.right-button{
  border-radius: 0px 7px 7px 0px;
}

img{
  width: 20px;
  opacity: 0.5;
}

.selected{
  background-color: @secondary-color;
  color: @primary-color;
}

@media (max-width: 340px)
{
  button{
    width: 60px;
  }
}
