<div class="content">
  <div class="left">
    <img src="../../../../assets/Images/Audiobook-pana.svg" alt="" data-aos="fade-down" data-aos-duration="1000">
  </div>
  <div class="right">
    <form [formGroup]="signUpForm" (ngSubmit)="submit()" novalidate>
      <div class="spinner" *ngIf="showSpinner">
        <app-spinner></app-spinner>
      </div>

      <h1 attr.aria-label="{{ 'AUTH.CREATE' | translate }}" data-aos="fade-down" data-aos-duration="800" data-aos-delay="800"><a class="title" href="#">{{ 'AUTH.CREATE' | translate }}</a></h1>

      <div class="inputs" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1200">
        <div class="split-row">
          <div class="row">
            <app-label
              text="{{ 'AUTH.FIRST_NAME' | translate }}"
            >
            </app-label>
            <app-input
              name="name"
              placeholder="John"
              type="text"
              formControlName="name"
              [ariaLabelContent]="'AUTH.ACCESIBILITY.FIRSTNAMEINPUT' | translate"
              [control]="signUpForm.controls['name']"
              [submitted]="submitted"
              [error]="this.signUpForm.get('name')!.hasError('required')"
            >
            </app-input>
            <p *ngIf="this.signUpForm.get('name')!.hasError('required') && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
          </div>
          <div class="row">
            <app-label
              text="{{ 'AUTH.LAST_NAME' | translate }}"
            >
            </app-label>
            <app-input
              name="lastName"
              placeholder="Doe"
              type="text"
              formControlName="lastName"
              [ariaLabelContent]="'AUTH.ACCESIBILITY.LASTNAMEINPUT' | translate"
              [control]="signUpForm.controls['lastName']"
              [submitted]="submitted"
              [error]="this.signUpForm.get('lastName')!.hasError('required')"
            >
            </app-input>
            <p *ngIf="this.signUpForm.get('lastName')!.hasError('required') && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
          </div>
        </div>
        <app-label
          text="{{ 'AUTH.EMAIL' | translate }}"
        >
        </app-label>
        <app-input
          name="email"
          placeholder="name@email.com"
          type="email"
          formControlName="email"
          [ariaLabelContent]="'AUTH.ACCESIBILITY.EMAILINPUT' | translate"
          [control]="signUpForm.controls['email']"
          [submitted]="submitted"
          [error]="this.signUpForm.get('email')!.hasError('required') || this.signUpForm.get('email')!.hasError('email')"
        >
        </app-input>
        <p *ngIf="this.signUpForm.get('email')!.hasError('required') && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
        <p *ngIf="this.signUpForm.get('email')!.hasError('email') && submitted" class="error-field">{{'INPUT_ERRORS.INVALID_EMAIL' | translate}}</p>
        <div class="split-row">
          <div class="row">
            <app-label
              text="{{ 'AUTH.PASSWORD' | translate }}"
            >
            </app-label>
            <app-input
              name="password"
              placeholder="**********"
              type="password"
              formControlName="password"
              [ariaLabelContent]="'AUTH.ACCESIBILITY.PASSWORDINPUT' | translate"
              [control]="signUpForm.controls['password']"
              [submitted]="submitted"
              [error]="this.signUpForm.get('password')!.hasError('required') || this.signUpForm.get('password')!.value.length<8 || this.signUpForm.get('passwordConfirm')!.value != this.signUpForm.get('password')!.value"
            >
            </app-input>
            <p *ngIf="this.signUpForm.get('password')!.hasError('required') && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
            <p *ngIf="this.signUpForm.get('password')!.value.length<8 && submitted" class="error-field">{{'INPUT_ERRORS.INVALID_TEXT_LENGTH' | translate}}</p>
            <p *ngIf="this.signUpForm.get('passwordConfirm')!.value != this.signUpForm.get('password')!.value  && submitted" class="error-field">{{'INPUT_ERRORS.DIFERENT_PASSWORD' | translate}}</p>
          </div>
          <div class="row">
            <app-label
              text="{{ 'AUTH.CONFIRM_PASSWORD' | translate }}"
            >
            </app-label>
            <app-input
              name="passwordConfirm"
              placeholder="**********"
              tabindex="'5'"
              type="password"
              formControlName="passwordConfirm"
              [ariaLabelContent]="'AUTH.ACCESIBILITY.CONFIRMPASSWORDINPUT' | translate"
              [control]="signUpForm.controls['passwordConfirm']"
              [submitted]="submitted"
              [error]="this.signUpForm.get('passwordConfirm')!.value==''"
            >
            </app-input>
            <p *ngIf="this.signUpForm.get('passwordConfirm')!.value=='' && submitted" class="error-field">{{'INPUT_ERRORS.REQUIRED' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="centered" data-aos="fade-down" data-aos-duration="800" data-aos-delay="1600">
        <div class="row">
          <div class="button-comtainer">
            <app-button
            text="{{ 'AUTH.SIGNUPBTN' | translate }}"
              [ariaLabelContent]="'AUTH.ACCESIBILITY.SIGNUPBTN' | translate"
            >
            </app-button>
          </div>
          <p class="redirect">{{'AUTH.REDIRECT_SIGNUP' | translate }}<a routerLink="/login" href="#">{{ 'AUTH.HERE' | translate }}</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
