@import "../../../../common-variables.less";

nav{
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .skip-content{
    margin-top: -100px;
    text-decoration: none;
    color: @text-color;
    outline: none;
    border-bottom: 2px solid @custom-primary;
    &:focus{
      margin-top: 0;
    }
  }

  a, p, select{
    margin-right: 30px;
  }



}
