@import "../../../../common-variables.less";

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  background-color: @secondary-color;
  box-sizing: border-box;
}

.about{
  position: relative;
  width: 80%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.text{
  text-align: justify;
}

.social-networks-container{
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .social-network{
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: @tertiary-color;
    /* border: 2px solid @tertiary-color; */
    border-radius: 5px;
    box-sizing: border-box;
    justify-content: center;

    svg{
      width: 20px;
      fill: @white-color;
    }

    a{
      outline: none;
      text-decoration: none;
      color: @white-color;
    }

    &:focus, &:hover{
      cursor: pointer;
      background-color: @primary-color;
      border: 2px solid @white-color;
    }
  }
}

