@import "../../../../common-variables.less";

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  background-color: @secondary-color;
  box-sizing: border-box;
}

.about{
  position: relative;
  width: 80%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.text{
  text-align: justify;
}
